/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, _dev/scss/general/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 26, _dev/scss/general/_reset.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
/* line 31, _dev/scss/general/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 35, _dev/scss/general/_reset.scss */
body {
  line-height: 1; }

/* line 38, _dev/scss/general/_reset.scss */
ol, ul {
  list-style: none; }

/* line 41, _dev/scss/general/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 44, _dev/scss/general/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 49, _dev/scss/general/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, _dev/scss/general/_bits.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 2, _dev/scss/general/_bits.scss */
.cf:after {
  clear: both; }

/* line 3, _dev/scss/general/_bits.scss */
.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
/* line 1, _dev/scss/misc/_modulos.scss */
body {
  background: white; }

/* line 5, _dev/scss/misc/_modulos.scss */
.hero-uno {
  width: 100%;
  height: 680px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("./build/images/hero.jpg");
  background-size: cover; }
  @media (max-width: 590px) {
    /* line 5, _dev/scss/misc/_modulos.scss */
    .hero-uno {
      height: 420px; } }

/* line 26, _dev/scss/misc/_modulos.scss */
.wrap {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%; }
  @media (max-width: 590px) {
    /* line 26, _dev/scss/misc/_modulos.scss */
    .wrap {
      width: 90%;
      margin-bottom: 26%; } }

/* line 37, _dev/scss/misc/_modulos.scss */
section {
  padding: 5% 0 0 0; }
  /* line 40, _dev/scss/misc/_modulos.scss */
  section:first-child {
    padding: 10% 0 5% 0; }
  /* line 43, _dev/scss/misc/_modulos.scss */
  section.single-post {
    padding: 3% 0 5% 0; }

/* line 2, _dev/scss/misc/_type.scss */
body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: calculateRem(16px);
  font-weight: 400; }

/* line 8, _dev/scss/misc/_type.scss */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-size: calculateRem(36px);
  font-weight: 500;
  margin-bottom: 15px; }
  @media (max-width: 590px) {
    /* line 8, _dev/scss/misc/_type.scss */
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      font-size: calculateRem(28px);
      font-weight: 700; } }

/* line 16, _dev/scss/misc/_type.scss */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-size: calculateRem(28px);
  font-weight: 500;
  margin: 15px 0; }
  @media (max-width: 590px) {
    /* line 16, _dev/scss/misc/_type.scss */
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 22px;
      font-size: calculateRem(22px);
      font-weight: 500; } }

/* line 24, _dev/scss/misc/_type.scss */
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-size: calculateRem(21px);
  font-weight: 500;
  min-width: 200px;
  text-align: center;
  margin: 0 auto;
  background: #AF8B2E; }
  @media (max-width: 590px) {
    /* line 24, _dev/scss/misc/_type.scss */
    h3 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 19px;
      font-size: calculateRem(19px);
      font-weight: 700;
      min-width: 100px; } }

/* line 37, _dev/scss/misc/_type.scss */
p {
  padding: 15px 0 0 0; }

/* line 41, _dev/scss/misc/_type.scss */
p:last-child {
  padding: 15 0 15px 0; }

@media (max-width: 590px) {
  /* line 47, _dev/scss/misc/_type.scss */
  p {
    padding: 10px 0 0 0; }

  /* line 51, _dev/scss/misc/_type.scss */
  p:last-child {
    padding: 10 0 10px 0; } }
/* line 1, _dev/scss/mod/_punchline.scss */
.punch-line {
  width: 70%;
  color: black;
  margin: 0 auto;
  text-align: center; }
  /* line 6, _dev/scss/mod/_punchline.scss */
  .punch-line h1 {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 10px; }
  /* line 11, _dev/scss/mod/_punchline.scss */
  .punch-line p {
    line-height: 26px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-size: calculateRem(20px);
    font-weight: 300; }
  @media (max-width: 590px) {
    /* line 1, _dev/scss/mod/_punchline.scss */
    .punch-line {
      width: 90%; }
      /* line 19, _dev/scss/mod/_punchline.scss */
      .punch-line h1 {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 10px; }
      /* line 24, _dev/scss/mod/_punchline.scss */
      .punch-line p {
        line-height: 22px;
        padding: 0;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-size: calculateRem(18px);
        font-weight: 300; } }

/* line 1, _dev/scss/mod/_nav.scss */
.hero-nav {
  width: 40%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-size: calculateRem(18px);
  font-weight: 400; }
  @media (max-width: 720px) {
    /* line 1, _dev/scss/mod/_nav.scss */
    .hero-nav {
      width: 90%; } }
  @media (max-width: 590px) {
    /* line 1, _dev/scss/mod/_nav.scss */
    .hero-nav {
      width: 80%;
      padding: 10% 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      font-size: calculateRem(12px);
      font-weight: 400; } }
  /* line 17, _dev/scss/mod/_nav.scss */
  .hero-nav a {
    display: inline-block;
    line-height: 11vh;
    color: white;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
    cursor: pointer; }
  /* line 28, _dev/scss/mod/_nav.scss */
  .hero-nav a:active, .hero-nav a:visited {
    color: white; }
  /* line 32, _dev/scss/mod/_nav.scss */
  .hero-nav a::after {
    content: "|";
    position: relative;
    left: 10px;
    color: #AF8B2E;
    font-weight: bolder; }
  /* line 39, _dev/scss/mod/_nav.scss */
  .hero-nav a:last-child::after {
    content: ""; }

/* line 44, _dev/scss/mod/_nav.scss */
.logo-m {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: block; }

/* line 52, _dev/scss/mod/_nav.scss */
.logo-h {
  height: 50px;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 10px; }
  @media (max-width: 590px) {
    /* line 52, _dev/scss/mod/_nav.scss */
    .logo-h {
      display: none; } }

/* line 64, _dev/scss/mod/_nav.scss */
.resp-logo {
  display: none; }
  @media (max-width: 590px) {
    /* line 64, _dev/scss/mod/_nav.scss */
    .resp-logo {
      height: 30px;
      text-align: left;
      display: inline-block;
      position: absolute;
      left: 10%;
      margin-top: 20px; } }

/* line 76, _dev/scss/mod/_nav.scss */
#header {
  background: black;
  z-index: 9000;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: calculateRem(16px);
  font-weight: 400;
  text-align: right; }

/* line 87, _dev/scss/mod/_nav.scss */
nav {
  width: 100%;
  text-align: right;
  color: white;
  padding: 5px 10%;
  cursor: pointer; }
  @media (max-width: 590px) {
    /* line 87, _dev/scss/mod/_nav.scss */
    nav {
      padding: 5px  2%; } }
  /* line 98, _dev/scss/mod/_nav.scss */
  nav a:active, nav a:visited {
    color: white; }
  /* line 102, _dev/scss/mod/_nav.scss */
  nav a {
    display: inline-block;
    line-height: 11vh;
    padding: 0 10px;
    margin: 0;
    text-decoration: none; }
    @media (max-width: 590px) {
      /* line 102, _dev/scss/mod/_nav.scss */
      nav a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        font-size: calculateRem(12px);
        font-weight: 400; } }
  /* line 114, _dev/scss/mod/_nav.scss */
  nav a::after {
    content: "|";
    position: relative;
    left: 10px;
    color: #AF8B2E;
    font-weight: bolder; }
  /* line 121, _dev/scss/mod/_nav.scss */
  nav a:first-child::after {
    content: ""; }

/* line 129, _dev/scss/mod/_nav.scss */
nav {
  background: #f5b335;
  height: 80px;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%; }

/* line 137, _dev/scss/mod/_nav.scss */
.nav-up {
  top: -80px; }

/* line 141, _dev/scss/mod/_nav.scss */
.post-nav {
  text-align: center;
  display: flex;
  justify-content: space-between; }
  /* line 145, _dev/scss/mod/_nav.scss */
  .post-nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-size: calculateRem(21px);
    font-weight: 500;
    margin: 0 auto;
    background: #AF8B2E;
    text-align: center;
    border-radius: 15px;
    padding: 10px 30px;
    line-height: 18px;
    margin: 15px; }
    @media (max-width: 590px) {
      /* line 145, _dev/scss/mod/_nav.scss */
      .post-nav a {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 19px;
        font-size: calculateRem(19px);
        font-weight: 700;
        font-size: 14px;
        width: 100%; } }
  @media (max-width: 590px) {
    /* line 141, _dev/scss/mod/_nav.scss */
    .post-nav {
      flex-wrap: wrap;
      justify-content: flex-end; } }

/* line 169, _dev/scss/mod/_nav.scss */
.ver {
  text-align: center;
  padding-top: 5%; }

/* line 173, _dev/scss/mod/_nav.scss */
a.botton {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-size: calculateRem(21px);
  font-weight: 500;
  margin: 0 auto;
  background: #AF8B2E;
  text-align: center;
  border-radius: 15px;
  padding: 10px 30px;
  line-height: 18px;
  margin: 15px; }
  @media (max-width: 590px) {
    /* line 173, _dev/scss/mod/_nav.scss */
    a.botton {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 19px;
      font-size: calculateRem(19px);
      font-weight: 700;
      font-size: 12px;
      min-width: 100px; } }

/* line 2, _dev/scss/mod/_galeria.scss */
.galeria {
  width: 32.33333%;
  margin-right: 1.5%;
  margin-top: 1.5%;
  float: left;
  padding: 0px;
  position: relative; }
  /* line 10, _dev/scss/mod/_galeria.scss */
  .galeria a {
    display: block; }
  /* line 14, _dev/scss/mod/_galeria.scss */
  .galeria img {
    width: 100%; }
  /* line 17, _dev/scss/mod/_galeria.scss */
  .galeria:nth-child(3n) {
    margin-right: 0; }
  @media (max-width: 700px) {
    /* line 2, _dev/scss/mod/_galeria.scss */
    .galeria {
      width: 47.75%; }
      /* line 22, _dev/scss/mod/_galeria.scss */
      .galeria:nth-child(odd) {
        margin-right: 1.5%; } }
  @media (max-width: 590px) {
    /* line 2, _dev/scss/mod/_galeria.scss */
    .galeria {
      width: 100%; }
      /* line 29, _dev/scss/mod/_galeria.scss */
      .galeria:nth-child(odd) {
        margin-right: 2%; } }

/* line 34, _dev/scss/mod/_galeria.scss */
.galeria:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* mantener el ratio*/ }

/* line 39, _dev/scss/mod/_galeria.scss */
.fig {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 47, _dev/scss/mod/_galeria.scss */
.fig h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-size: calculateRem(24px);
  font-weight: 500;
  margin: 15px 0 0 0;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%; }
  @media (max-width: 590px) {
    /* line 47, _dev/scss/mod/_galeria.scss */
    .fig h2 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18px;
      font-size: calculateRem(18px);
      font-weight: 500;
      margin: 5px 0; } }

/* line 63, _dev/scss/mod/_galeria.scss */
.fig h2:hover {
  background: rgba(0, 0, 0, 0.8); }

/* line 1, _dev/scss/mod/_form.scss */
.contacto_in {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  /* line 5, _dev/scss/mod/_form.scss */
  .contacto_in a {
    color: #AF8B2E;
    line-height: inherit;
    padding: 0; }
  /* line 10, _dev/scss/mod/_form.scss */
  .contacto_in p {
    line-height: 26px;
    padding: 0 0 20px 0;
    margin: 0 auto;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-size: calculateRem(20px);
    font-weight: 300; }
  @media (max-width: 590px) {
    /* line 1, _dev/scss/mod/_form.scss */
    .contacto_in {
      width: 80%; }
      /* line 20, _dev/scss/mod/_form.scss */
      .contacto_in p {
        line-height: 22px;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-size: calculateRem(18px);
        font-weight: 300; } }

/* line 28, _dev/scss/mod/_form.scss */
form {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 590px) {
    /* line 28, _dev/scss/mod/_form.scss */
    form {
      width: 100%; } }

/* line 37, _dev/scss/mod/_form.scss */
#simple-contact-form fieldset input {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 5px  0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
  @media (max-width: 590px) {
    /* line 37, _dev/scss/mod/_form.scss */
    #simple-contact-form fieldset input {
      width: 100%; } }

/* line 48, _dev/scss/mod/_form.scss */
#simple-contact-form textarea {
  width: 60%; }
  @media (max-width: 590px) {
    /* line 48, _dev/scss/mod/_form.scss */
    #simple-contact-form textarea {
      width: 100%; } }

/* line 54, _dev/scss/mod/_form.scss */
#simple-contact-form label {
  display: none; }

/* line 58, _dev/scss/mod/_form.scss */
#simple-contact-form input[type=submit] {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-size: calculateRem(21px);
  font-weight: 500;
  min-width: 200px;
  margin: 15px auto;
  background: #AF8B2E;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  line-height: 18px; }
  @media (max-width: 590px) {
    /* line 58, _dev/scss/mod/_form.scss */
    #simple-contact-form input[type=submit] {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 19px;
      font-size: calculateRem(19px);
      font-weight: 700;
      font-size: 12px;
      min-width: 100px; } }

/* line 76, _dev/scss/mod/_form.scss */
.boton {
  padding: 5px;
  background: #AF8B2E;
  color: white;
  width: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px; }
  @media (max-width: 590px) {
    /* line 76, _dev/scss/mod/_form.scss */
    .boton {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 19px;
      font-size: calculateRem(19px);
      font-weight: 700;
      font-size: 12px;
      min-width: 100px; } }

/* line 1, _dev/scss/mod/_footer.scss */
footer {
  background: url("./build/images/patron.png"), black;
  background-size: 60%; }

/* line 6, _dev/scss/mod/_footer.scss */
.social {
  width: 50px; }

/* line 10, _dev/scss/mod/_footer.scss */
.social__nav {
  width: 100%;
  color: white;
  padding: 2% 10% 0 10%;
  cursor: pointer; }
  /* line 15, _dev/scss/mod/_footer.scss */
  .social__nav .logo-h {
    margin-top: 0; }
  @media (max-width: 590px) {
    /* line 10, _dev/scss/mod/_footer.scss */
    .social__nav {
      padding: 6% 10% 0 10%; } }

/* line 23, _dev/scss/mod/_footer.scss */
.logo-h__footer {
  height: 50px;
  display: inline-block; }
  @media (max-width: 590px) {
    /* line 23, _dev/scss/mod/_footer.scss */
    .logo-h__footer {
      height: 47px;
      left: 2%;
      margin-top: 12px; } }

/* line 34, _dev/scss/mod/_footer.scss */
.footer-stack {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: right;
  padding: 15px; }
  /* line 41, _dev/scss/mod/_footer.scss */
  .footer-stack:first-child {
    float: left;
    text-align: left; }
  @media (max-width: 590px) {
    /* line 34, _dev/scss/mod/_footer.scss */
    .footer-stack {
      width: 100%;
      display: block;
      clear: both;
      text-align: center; }
      /* line 48, _dev/scss/mod/_footer.scss */
      .footer-stack:first-child {
        text-align: center; } }

/* line 56, _dev/scss/mod/_footer.scss */
a {
  display: inline-block;
  line-height: 11vh;
  color: white;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  cursor: pointer; }

/* line 1, _dev/scss/mod/_single.scss */
.hero {
  width: 100%;
  height: 500px;
  background-size: cover !important; }
  @media (max-width: 590px) {
    /* line 1, _dev/scss/mod/_single.scss */
    .hero {
      height: 500px; } }

/* line 10, _dev/scss/mod/_single.scss */
.intro {
  margin-bottom: 80px;
  position: absolute;
  bottom: 10px;
  padding: 3% 10%; }
  /* line 16, _dev/scss/mod/_single.scss */
  .intro p {
    padding-top: 0;
    padding-bottom: 30px;
    max-width: 700px; }

/* line 23, _dev/scss/mod/_single.scss */
h1.titulo {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  font-size: calculateRem(64px);
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0; }
  @media (max-width: 590px) {
    /* line 23, _dev/scss/mod/_single.scss */
    h1.titulo {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      font-size: calculateRem(28px);
      font-weight: 700; } }

/* line 33, _dev/scss/mod/_single.scss */
p {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 22px; }

/* line 40, _dev/scss/mod/_single.scss */
section.single-post a {
  display: inline-block;
  line-height: auto;
  padding: 1.1% 5% 0 0;
  margin: 0;
  width: 23.625%; }
  /* line 46, _dev/scss/mod/_single.scss */
  section.single-post a img {
    width: 100%; }
  /* line 49, _dev/scss/mod/_single.scss */
  section.single-post a:first-child {
    padding-left: 0; }
  @media (max-width: 740px) {
    /* line 40, _dev/scss/mod/_single.scss */
    section.single-post a {
      width: 31.86667%; }
      /* line 55, _dev/scss/mod/_single.scss */
      section.single-post a img {
        width: 100%;
        height: auto !important; } }
  @media (max-width: 590px) {
    /* line 40, _dev/scss/mod/_single.scss */
    section.single-post a {
      width: 47.75%; }
      /* line 63, _dev/scss/mod/_single.scss */
      section.single-post a img {
        width: 100%;
        height: auto !important; } }
  @media (max-width: 590px) {
    /* line 40, _dev/scss/mod/_single.scss */
    section.single-post a {
      width: 49%; }
      /* line 71, _dev/scss/mod/_single.scss */
      section.single-post a img {
        width: 100%;
        height: auto !important; } }
