/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, _dev/scss/general/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, _dev/scss/general/_reset.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 31, _dev/scss/general/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, _dev/scss/general/_reset.scss */
body {
  line-height: 1;
}

/* line 38, _dev/scss/general/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 41, _dev/scss/general/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, _dev/scss/general/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, _dev/scss/general/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, _dev/scss/general/_bits.scss */
.cf:before, .cf:after {
  content: "";
  display: table;
}

/* line 2, _dev/scss/general/_bits.scss */
.cf:after {
  clear: both;
}

/* line 3, _dev/scss/general/_bits.scss */
.cf {
  zoom: 1;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 1, _dev/scss/misc/_modulos.scss */
body {
  background: black;
}

/* line 6, _dev/scss/misc/_modulos.scss */
.hero-uno {
  width: 100%;
  height: 680px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("./build/images/hero.jpg");
  background-size: cover;
}
@media (max-width: 590px) {
  /* line 6, _dev/scss/misc/_modulos.scss */
  .hero-uno {
    height: 550px;
  }
}

/* line 30, _dev/scss/misc/_modulos.scss */
.wrap {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10%;
}

/* line 38, _dev/scss/misc/_modulos.scss */
section {
  padding: 5% 0;
}
/* line 41, _dev/scss/misc/_modulos.scss */
section:first-child {
  padding: 10% 0;
}

/* line 45, _dev/scss/misc/_modulos.scss */
section.contacto {
  background: white;
  padding: 5%;
}

/* line 2, _dev/scss/misc/_type.scss */
body {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: calculateRem(16px);
  font-weight: 400;
}

/* line 8, _dev/scss/misc/_type.scss */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-size: calculateRem(36px);
  font-weight: 500;
  margin-bottom: 15px;
}
@media (max-width: 590px) {
  /* line 8, _dev/scss/misc/_type.scss */
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-size: calculateRem(28px);
    font-weight: 700;
  }
}

/* line 16, _dev/scss/misc/_type.scss */
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-size: calculateRem(28px);
  font-weight: 500;
  margin: 15px 0;
}
@media (max-width: 590px) {
  /* line 16, _dev/scss/misc/_type.scss */
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-size: calculateRem(22px);
    font-weight: 300;
  }
}

/* line 24, _dev/scss/misc/_type.scss */
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-size: calculateRem(21px);
  font-weight: 500;
  max-width: 20%;
  text-align: center;
  margin: 0 auto;
  background: #AF8B2E;
}
@media (max-width: 590px) {
  /* line 24, _dev/scss/misc/_type.scss */
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-size: calculateRem(19px);
    font-weight: 700;
  }
}

/* line 36, _dev/scss/misc/_type.scss */
p {
  padding: 15px 0 0 0;
}

/* line 40, _dev/scss/misc/_type.scss */
p:last-child {
  padding: 15 0 15px 0;
}

@media (max-width: 590px) {
  /* line 46, _dev/scss/misc/_type.scss */
  p {
    padding: 10px 0 0 0;
  }

  /* line 50, _dev/scss/misc/_type.scss */
  p:last-child {
    padding: 10 0 10px 0;
  }
}
/* line 1, _dev/scss/mod/_punchline.scss */
.punch-line {
  width: 70%;
  color: white;
}
/* line 4, _dev/scss/mod/_punchline.scss */
.punch-line h1 {
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 10px;
}
/* line 9, _dev/scss/mod/_punchline.scss */
.punch-line p {
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-size: calculateRem(20px);
  font-weight: 300;
}
@media (max-width: 590px) {
  /* line 1, _dev/scss/mod/_punchline.scss */
  .punch-line {
    width: 90%;
  }
  /* line 17, _dev/scss/mod/_punchline.scss */
  .punch-line h1 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 10px;
  }
  /* line 22, _dev/scss/mod/_punchline.scss */
  .punch-line p {
    line-height: 22px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-size: calculateRem(18px);
    font-weight: 300;
  }
}

/* line 1, _dev/scss/mod/_nav.scss */
.hero-nav {
  width: 40%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-size: calculateRem(18px);
  font-weight: 400;
}
@media (max-width: 590px) {
  /* line 1, _dev/scss/mod/_nav.scss */
  .hero-nav {
    width: 80%;
    padding: 20% 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-size: calculateRem(16px);
    font-weight: 400;
  }
}
/* line 14, _dev/scss/mod/_nav.scss */
.hero-nav a {
  display: inline-block;
  line-height: 11vh;
  color: white;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}
/* line 25, _dev/scss/mod/_nav.scss */
.hero-nav a:active, .hero-nav a:visited {
  color: white;
}
/* line 29, _dev/scss/mod/_nav.scss */
.hero-nav a::after {
  content: "|";
  position: relative;
  left: 10px;
  color: #AF8B2E;
  font-weight: bolder;
}
/* line 36, _dev/scss/mod/_nav.scss */
.hero-nav a:last-child::after {
  content: "";
}

/* line 44, _dev/scss/mod/_nav.scss */
.logo-m {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

/* line 52, _dev/scss/mod/_nav.scss */
.logo-h {
  height: 50px;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10%;
  margin-top: 8px;
}
@media (max-width: 590px) {
  /* line 52, _dev/scss/mod/_nav.scss */
  .logo-h {
    height: 40px;
    left: 2%;
    margin-top: 12px;
  }
}

/* line 67, _dev/scss/mod/_nav.scss */
#header {
  background: black;
  z-index: 9000;
  color: white;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-size: calculateRem(16px);
  font-weight: 400;
  text-align: right;
}

/* line 78, _dev/scss/mod/_nav.scss */
nav {
  width: 100%;
  text-align: right;
  color: white;
  padding: 5px 10%;
  cursor: pointer;
}
@media (max-width: 590px) {
  /* line 78, _dev/scss/mod/_nav.scss */
  nav {
    padding: 5px  2%;
  }
}
/* line 89, _dev/scss/mod/_nav.scss */
nav a:active, nav a:visited {
  color: white;
}
/* line 93, _dev/scss/mod/_nav.scss */
nav a {
  display: inline-block;
  line-height: 11vh;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
}
@media (max-width: 590px) {
  /* line 93, _dev/scss/mod/_nav.scss */
  nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-size: calculateRem(16px);
    font-weight: 400;
  }
}
/* line 104, _dev/scss/mod/_nav.scss */
nav a::after {
  content: "|";
  position: relative;
  left: 10px;
  color: #AF8B2E;
  font-weight: bolder;
}
/* line 111, _dev/scss/mod/_nav.scss */
nav a:last-child::after {
  content: "";
}

/* line 119, _dev/scss/mod/_nav.scss */
nav {
  background: #f5b335;
  height: 80px;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

/* line 127, _dev/scss/mod/_nav.scss */
.nav-up {
  top: -80px;
}

/* line 2, _dev/scss/mod/_galeria.scss */
.galeria {
  width: 32%;
  height: 400px;
  margin-right: 2%;
  margin-top: 2%;
  float: left;
  padding: 0px;
  position: relative;
}
/* line 10, _dev/scss/mod/_galeria.scss */
.galeria:nth-child(3n) {
  margin-right: 0;
}
@media (max-width: 700px) {
  /* line 2, _dev/scss/mod/_galeria.scss */
  .galeria {
    width: 48%;
  }
  /* line 15, _dev/scss/mod/_galeria.scss */
  .galeria:nth-child(odd) {
    margin-right: 2%;
  }
}

/* line 22, _dev/scss/mod/_galeria.scss */
.galeria figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  max-height: 400px;
  background: #4eb6c2;
  text-align: center;
  cursor: pointer;
}

/* line 33, _dev/scss/mod/_galeria.scss */
.galeria figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

/* line 41, _dev/scss/mod/_galeria.scss */
.galeria figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 50, _dev/scss/mod/_galeria.scss */
.galeria figure figcaption::before,
.galeria figure figcaption::after {
  pointer-events: none;
}

/* line 55, _dev/scss/mod/_galeria.scss */
.galeria figure figcaption,
.galeria figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 64, _dev/scss/mod/_galeria.scss */
.galeria figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 72, _dev/scss/mod/_galeria.scss */
.galeria figure h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-size: calculateRem(24px);
  font-weight: 500;
  margin: 15px 0;
}
@media (max-width: 590px) {
  /* line 72, _dev/scss/mod/_galeria.scss */
  .galeria figure h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-size: calculateRem(18px);
    font-weight: 300;
  }
}

/* line 80, _dev/scss/mod/_galeria.scss */
.galeria figure h2,
.galeria figure p {
  margin: 0;
}

/* line 85, _dev/scss/mod/_galeria.scss */
.galeria figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* line 90, _dev/scss/mod/_galeria.scss */
figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(99% + 1%);
  width: calc(99% + 1%);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-1%, 0, 0);
  transform: translate3d(-1%, 0, 0);
}

/* line 101, _dev/scss/mod/_galeria.scss */
figure.effect-lily figcaption {
  text-align: left;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

/* line 113, _dev/scss/mod/_galeria.scss */
figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

/* line 122, _dev/scss/mod/_galeria.scss */
figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

/* line 128, _dev/scss/mod/_galeria.scss */
figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

/* line 133, _dev/scss/mod/_galeria.scss */
figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

/* line 140, _dev/scss/mod/_galeria.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}

/* line 146, _dev/scss/mod/_galeria.scss */
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 153, _dev/scss/mod/_galeria.scss */
figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* line 1, _dev/scss/mod/_form.scss */
.contacto_in {
  width: 70%;
}
/* line 4, _dev/scss/mod/_form.scss */
.contacto_in a {
  color: #AF8B2E;
  line-height: inherit;
  padding: 0;
}
/* line 9, _dev/scss/mod/_form.scss */
.contacto_in p {
  line-height: 26px;
  padding: 0;
  margin: 0 auto;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-size: calculateRem(20px);
  font-weight: 300;
}
@media (max-width: 590px) {
  /* line 1, _dev/scss/mod/_form.scss */
  .contacto_in {
    width: 80%;
  }
  /* line 19, _dev/scss/mod/_form.scss */
  .contacto_in p {
    line-height: 22px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-size: calculateRem(18px);
    font-weight: 300;
  }
}

/* line 28, _dev/scss/mod/_form.scss */
form {
  width: 100%;
}

/* line 31, _dev/scss/mod/_form.scss */
input {
  width: 40%;
  height: 40px;
}
@media (max-width: 590px) {
  /* line 31, _dev/scss/mod/_form.scss */
  input {
    width: 80%;
  }
}

/* line 38, _dev/scss/mod/_form.scss */
textarea {
  width: 50%;
}
@media (max-width: 590px) {
  /* line 38, _dev/scss/mod/_form.scss */
  textarea {
    width: 80%;
  }
}

/* line 44, _dev/scss/mod/_form.scss */
input, textarea {
  padding: 5px;
  margin: 5px  0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* line 51, _dev/scss/mod/_form.scss */
.boton {
  padding: 5px;
  background: #AF8B2E;
  color: white;
  width: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* line 1, _dev/scss/mod/_footer.scss */
footer {
  background: url("./build/images/patron.png");
  background-size: 60%;
  height: 100px;
}

/* line 7, _dev/scss/mod/_footer.scss */
.social {
  background: #AF8B2E;
  border-radius: 50%;
  padding: 5px;
  width: 50px;
  fill: white;
}

/* line 15, _dev/scss/mod/_footer.scss */
.social__nav {
  width: 100%;
  text-align: right;
  color: white;
  padding: 2% 10% 0 10%;
  cursor: pointer;
}
/* line 22, _dev/scss/mod/_footer.scss */
.social__nav .logo-h {
  margin-top: 0;
}

/* line 27, _dev/scss/mod/_footer.scss */
a {
  display: inline-block;
  line-height: 11vh;
  color: white;
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

/* line 1, _dev/scss/mod/_single.scss */
.hero {
  width: 100%;
  height: 680px;
  background-size: cover;
}
@media (max-width: 590px) {
  /* line 1, _dev/scss/mod/_single.scss */
  .hero {
    height: 550px;
  }
}

/* line 10, _dev/scss/mod/_single.scss */
h1.titulo {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-size: calculateRem(36px);
  font-weight: 500;
  margin-bottom: 15px;
  position: absolute;
  bottom: 10px;
  padding: 5%;
}
@media (max-width: 590px) {
  /* line 10, _dev/scss/mod/_single.scss */
  h1.titulo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-size: calculateRem(28px);
    font-weight: 700;
  }
}

/* line 22, _dev/scss/mod/_single.scss */
p {
  color: white;
}
