.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

// colores

$negro: rgba(0, 0, 0, 1.0);
$dorado: #AF8B2E;
$gris: rgba(0, 0, 0, .1);

// mixins


@mixin breakpoint($point) {
  @if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @if $point == baby-bear {
    @media (max-width: 570px) { @content; }
  }
  @if $point == reverso-baby-bear {
    @media (max-width: 700px) { @content; }
  }
}


@mixin source-sans($weight, $size) {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size;
  font-size: calculateRem($size);
  font-weight: $weight;
}
