<div class="contacto_in">
  <h2>Contactanos</h2>
  <p>¡Hola! Si estás interesado en nuestros servicios o sólo quieres saludarnos déjanos un mensaje aquí o escríbenos a: <a href="mailto:hola@dos57.com">hola@dos57.com</a></p>
</div>

<form action="#" method="post">
    <div>
         <input type="text" name="name" id="name" placeholder="Nombre" value="" tabindex="1" />
    </div>
    <div>
         <input type="text" name="name" id="name"  placeholder="Correo" value="" tabindex="1" />
    </div>
    <div>
         <input type="text" name="name" id="name" placeholder="Telefono" value="" tabindex="1" />
    </div>

	<div>
		<textarea cols="40" rows="8" name="textarea" placeholder="Mensaje" id="textarea"></textarea>
	</div>

	<div>
	    <input type="submit" class="boton" value="Enviar" />
    </div>
</form>
