<h2>Contactanos</h2>
<p>¡Hola! Si estás interesado en nuestros servicios o sólo quieres saludarnos déjanos un mensaje aquí o escríbenos a: <a href="mailto:hola@dos57.com">hola@dos57.com</a>.</p>

<form action="#" method="post">
    <div>
         <label for="name">Nombre:</label>
         <input type="text" name="name" id="name" value="" tabindex="1" />
    </div>
    <div>
         <label for="name">Correo:</label>
         <input type="text" name="name" id="name" value="" tabindex="1" />
    </div>
    <div>
         <label for="name">Telefono:</label>
         <input type="text" name="name" id="name" value="" tabindex="1" />
    </div>

	<div>
		<label for="textarea">Mensaje:</label>
		<textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
	</div>

	<div>
	    <input type="submit" value="Submit" />
    </div>
</form>
