.contacto_in{
  width: 70%;

  a{
    color:$dorado;
    line-height: inherit;
    padding: 0;
  }
  p{
    line-height: 26px;
    padding:0 0 20px 0;
    margin:0 auto;
    color: $negro;
      @include source-sans(300, 20px);
  }

  @include breakpoint(baby-bear) {
    width: 80%;
    p{
      line-height: 22px;
      margin:0 auto;
        @include source-sans(300, 18px);
    }
}

}
form{
  width: 100%;
}

#simple-contact-form fieldset input {
  width: 40%;
  height: 40px;
  padding: 5px;
  margin: 5px  0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    @include breakpoint(baby-bear) {
    width: 100%;
    }
 }
 #simple-contact-form textarea {
   width: 60%;
   @include breakpoint(baby-bear) {
   width: 100%;
   }
 }
#simple-contact-form label {
  display:none;
}

#simple-contact-form input[type=submit]{
  padding: 10px;
  background: #AF8B2E;
  color: white;
  font-size:16px;
  min-width: 200px;
  height:80px;
  margin-top: 15px;
  @include breakpoint(baby-bear) {
  min-width: 100px;
  }
}

.boton{
  padding: 5px;
  background: $dorado;
  color: white;
  width: 100px;
  box-shadow: 2px 2px 5px $gris;
}
