
.galeria {
  width:((100% - (2 * 1.5%)) / 3);
  margin-right:1.5%;
  margin-top:1.5%;
  float:left;
  padding:0px;
  position: relative;

  a {
    display: block;
  }

  img{
    width: 100%;
  }
  &:nth-child(3n){
    margin-right:0;
  }
  @include breakpoint(reverso-baby-bear) {
      width:((100% - (3 * 1.5%)) / 2);
      &:nth-child(odd){
        margin-right:1.5%;
      }
  }

  @include breakpoint(baby-bear) {
      width:100%;
      &:nth-child(odd){
        margin-right:2%;
      }
  }
}
.galeria:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* mantener el ratio*/
}
.fig{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fig  h2 {
  @include source-sans(500, 24px);
  margin:15px 0 0 0;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom:0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  @include breakpoint(baby-bear) {
      @include source-sans(500, 18px);
      margin:5px 0;
  }
}

.fig h2:hover {
  background:  rgba(0, 0, 0, 0.8);
}
