.hero-nav{
  width: 40%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
    @include source-sans(400, 18px);

  a {
    display: inline-block;
    line-height: 11vh;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
  }

  a:active, a:visited {
    color:white;
  }

  a::after{
    content: "|" ;
    position: relative;
    left: 10px;
    color: $dorado;
    font-weight: bolder;
  }
  a:last-child::after{
    content: "";
  }

}

.logo-m{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.logo-h{
  height: 50px;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10%;
  margin-top: 8px;
}

#header {
  background: $negro;
  z-index: 9000;
  color: white;
  font-size: 18px;
  line-height:1.5;
  @include source-sans(400, 16px);
  text-align: right;
}

nav{
  width: 100%;
    text-align: right;
    color: white;
    padding: 5px 10%;

  a:active, a:visited {
    color:white;
  }

    a {
      display: inline-block;
      line-height: 11vh;
      padding: 0 10px;
      margin: 0;
      text-decoration: none;
    }
    a::after{
      content: "|" ;
      position: relative;
      left: 10px;
      color: $dorado;
      font-weight: bolder;
    }
    a:last-child::after{
      content: "";
    }
  }
