.hero-nav{
  width: 40%;
  margin: 0 auto;
  padding: 10% 0;
  text-align: center;
  @media (max-width: 720px)  {
  width: 90%;
}
    @include source-sans(400, 18px);
    @include breakpoint(baby-bear) {
      width: 80%;
      padding: 10% 0;
      @include source-sans(400, 12px);

    }

  a {
    display: inline-block;
    line-height: 11vh;
    color: white;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;

  }

  a:active, a:visited {
    color:white;
  }

  a::after{
    content: "|" ;
    position: relative;
    left: 10px;
    color: $dorado;
    font-weight: bolder;
  }
  a:last-child::after{
    content: "";
  }
}

.logo-m{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: block;

}

.logo-h{
  height: 50px;
  text-align: left;
  display: inline-block;
  position: absolute;
  left: 10%;
  top:10px;
  @include breakpoint(baby-bear) {
  display: none;

  }
}
.resp-logo{
  display: none;
  @include breakpoint(baby-bear) {
    height: 30px;
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 10%;
    margin-top: 20px;
  }
}

#header {
  background: $negro;
  z-index: 9000;
  color: white;
  font-size: 18px;
  line-height:1.5;
  @include source-sans(400, 16px);
  text-align: right;

}

nav{
  width: 100%;
    text-align: right;
    color: white;
    padding: 0px 10%;
    cursor: pointer;
    @media (max-width: 720px) {
          padding: 0;
      }

  a:active, a:visited {
    color:white;
  }

    a {
      display: inline-block;
      line-height: 11vh;
      padding: 0 10px;
      margin: 0;
      text-decoration: none;
      @media (max-width: 720px) {
              @include source-sans(400, 16px);
        }

        @media (max-width: 600px) {
          @include source-sans(400, 14px);
          }
      @include breakpoint(baby-bear) {
        @include source-sans(400, 10px);

      }
    }

    a::after{
      content: "|" ;
      position: relative;
      left: 10px;
      color: $dorado;
      font-weight: bolder;
    }
    a:first-child::after{
      content: "" ;
    }
  }

  // hide sticky nav from here on down...


nav {
  background: #f5b335;
  height: 80px;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
// we'll add this class using javascript
.nav-up {
  top: -80px; // same as header height. use variables in LESS/SASS
}

.post-nav{
  text-align: center;
  display: flex;
  justify-content: space-between;
    a{
      font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-size: calculateRem(21px);
    font-weight: 500;
    margin: 0 auto;
    background: $dorado;
    text-align: center;
    border-radius: 15px;
    padding: 10px 30px;
    line-height: 18px;
    margin: 15px;
      @include breakpoint(baby-bear) {
          @include source-sans(700, 19px);
          font-size: 14px;
          width: 100%;
      }
    }
    @include breakpoint(baby-bear) {
      flex-wrap: wrap;
      justify-content: flex-end;

      }
}
.ver{
  text-align: center;
  padding-top:5%;
}
a.botton{
  @include source-sans(500, 21px);
  margin:0 auto;
  background: $dorado;
  text-align: center;
  border-radius: 15px;
  padding:10px 30px;
  line-height: 18px;
  margin: 15px;
  @include breakpoint(baby-bear) {
      @include source-sans(700, 19px);
      font-size: 12px;
      min-width: 100px;
  }
}
