#header {
  background: $negro;
  z-index: 9000;
  color: white;
  font-size: 18px;
  line-height:1.5;
  @include source-sans(400, 16px);
  text-align: right;

}

nav {
  background: #f5b335;
  height: 80px;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.nav-up {
  top: -80px;
}

.flex-nav{
    width: 100%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding:0 10%;
    @include breakpoint(baby-bear) {
      padding: 0 ;
      flex-wrap: wrap;

    }
  a:active, a:visited {
    color:white;
  }
    a {
      align-items: center;
      margin: 0;
      text-decoration: none;
      @media (max-width: 720px) {
              @include source-sans(400, 16px);
        }

        @media (max-width: 600px) {
          @include source-sans(400, 14px);
          }
      @include breakpoint(baby-bear) {
        @include source-sans(400, 10px);

      }
    }

    a::after{
      content: "|" ;
      position: relative;
      left: 10px;
      color: $dorado;
      font-weight: bolder;
    }
    a:first-child::after{
      content: "" ;
    }
  }
