.punch-line {
  width: 70%;
  color:white;
  h1{
    font-size: 46px;
    line-height: 46x;
    margin-bottom: 10px;
  }
  p{
    line-height: 26px;
    padding:0;
    margin:0 auto;
      @include source-sans(300, 20px);
  }
  @include breakpoint(baby-bear) {
    width: 90%;
    h1{
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 10px;
    }
    p{
      line-height: 22px;
      padding:0;
      margin:0 auto;
        @include source-sans(300, 18px);
    }

  }

}
