.punch-line {
  width: 70%;
  color:white;
  h1{
    font-size: 46px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  p{
    line-height: 22px;
    margin:0 auto;
      @include source-sans(300, 20px);
  }
}
