body{
  background: black;
}


.hero-uno{
  width: 100%;
  height: 680px;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.20),
  rgba(0, 0, 0, 0.20)
),
linear-gradient(
rgba(0, 0, 0, 0.10),
rgba(0, 0, 0, 0.90)
),
  url('./build/images/hero.jpg'),

  ;
  background-size: cover;


  @include breakpoint(baby-bear) {
    height: 420px;

  }
}


.wrap{
  width: 80%;
  margin: 0 auto;;
  margin-bottom: 10%;
  @include breakpoint(baby-bear) {
  width: 90%;

  }
}


section{
    padding:5% 0;

    &:first-child{
      padding:10% 0 5% 0;
    }
}
section.contacto{
  background: white;
}
