.hero-uno{
  width: 100%;
  height: 680px;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.20),
  rgba(0, 0, 0, 0.20)
),
linear-gradient(
rgba(0, 0, 0, 0.10),
rgba(0, 0, 0, 0.90)
),
  url('/build/images/hero.jpg'),

  ;
  background-size: cover;
}


.wrap{
  width: 90%;
  margin: 0 auto;;
}
