
body{
  font-size: 18px;
  line-height:1.5;
}

p{
  padding: 15px 0 0 0;
}

p:last-child{
  padding: 15 0 15px 0;
}


@include breakpoint(baby-bear) {
  p{
    padding: 10px 0 0 0;
  }

  p:last-child{
    padding: 10 0 10px 0;
  }

}
